*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat,sans-serif;
  color: white;
  background-color: #343a40;
  background-size: cover;
}
body > h1, body > p {
  text-align: center;
}

.section-1{
  background-image: linear-gradient(rgba(61, 61, 61, 0.7),rgba(56, 56, 56, 0.6)),url(assets/images/abesec.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  animation: step-start;
}
.section-1-1{
  position: relative;
  top:25%;
}

.con-1-2 h3{
  color:red;
  font-size: 200%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}

.con-1-1{
  color: white;
  font-size: 300%;  
  letter-spacing: 2px;
}

.card-container {
  display: flex;
}
.card-container .card {
  margin: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  color: black;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.card-container .card .card-count-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 20px 0px;
}

.card-container .card .card-count {
  font-weight: bold;
  font-size: 100px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
  margin-right: -50px;
  padding-right: 25px;
  overflow: hidden;
  color: #ffffff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
.card{
  max-width:90%;
}
.card-container .card .card-content {
  padding: 20px;
  padding-top: 0px;
}
.card-container .card .card-content > h2 {
  margin-top: 0px;
  text-align: center;
}
.card-container .card .card-footer {
  padding: 20px;
  color: #ffffff;
}
.card-container .card:nth-child(1) .card-count, .card-container .card:nth-child(1) .card-footer {
  background-image: linear-gradient(90deg, #343a40, #6c7781);
}
.card-container .card:nth-child(2) .card-count, .card-container .card:nth-child(2) .card-footer {
  background-image: linear-gradient(90deg, #fec22f, #ea9826);
}
.card-container .card:nth-child(3) .card-count, .card-container .card:nth-child(3) .card-footer {
  background-image: linear-gradient(90deg, #6fc6a9, #058ba9);
}
.card-container .card:hover .card-count {
  width: 160px;
  height: 160px;
}

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
} 



/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
@media (max-width: 767px) {
  .card-container {
    flex-wrap: wrap;
  }
}