@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Cambay-Regular;
  src: url(../fonts/Cambay-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambay-Regular, Montserrat, sans-serif;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  background-size: cover;
}
body > h1, body > p {
  text-align: center;
}
.h-10{
  position: relative;
  top:-50px;
  height:12vh;
  z-index: -1000;
}
.bg-orange{
  background-image: linear-gradient(90deg, #f6671f, #c01b1c);
}

.bg-white{
  background-color: white;
}

.navbar-dark{
  background-color: #f6671f;
}
/* hr{
  height: 22px;
  border: 2px black;
} */
.ls-auto{
  letter-spacing: 5px;
  font-weight: bold;
}
.mt-7{
  margin-top: 7rem;
}
.mt-15{
  margin-top: 15rem;
}
.jarallax{
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.fc-red{
  color:red;
}
.clip-down{
  clip-path: polygon(0% 0%, 100% 0, 100% 95%, 50% 100%, 0 95%);
  height:35vh;
  z-index:-1000;
}
.parallax-mirror{
  clip-path: polygon(0% 0%, 100% 0, 100% 95%, 50% 100%, 0 95%);
  /* clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 0 95%, 0 5%); */
  /* clip-path: polygon(51% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0); */
  background-image: linear-gradient(rgba(61, 61, 61, 0.7),rgba(56, 56, 56, 0.6));
  z-index:10;
}
.hvh-60{
  height: 60vh;
}

.section-1{
  height: 104vh;
}
.section-1-1{
  position: relative;
  top:30%;
}

.con-1-2{
  letter-spacing: 6px;
  /* text-transform: uppercase; */
  text-shadow: 1px 1px 1px #ffffff21;
}

.con-1-1{
  color: white;
  font-size: 300%;  
  letter-spacing: 2px;
}


.hover-shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-shadow:hover {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}


.card {
    position: relative;
    border-radius: 8px;
    height: 250px;
    width: 250px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 80px -10px black;
    overflow: hidden;
}

.card-blur {
    position: absolute;
    height: 100%;
    width: calc(100% + 1px);
    background-color: black;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

.card:hover .card-blur {
    opacity: 0.6;
}

.bg-audi{
  background-image: url(../images/abesaudi.jpg);
}
.bg-atte{
  background-image: url(../images/atten.png);
}
.bg-grou{
  background-image: url(../images/abesaudi.jpg);
}
.bg-semi{
  background-image: url(../images/abesaudi.jpg);
}

.footer {
    z-index: 1;
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0;
}

.info {
  padding-left: 20px;
  transform: translateY(250px);
  background: white;
  transition: transform 1s cubic-bezier(.31,1.21,.64,1.02);
}

.card:hover .info {
    transform: translateY(0px);
}

.name {
    font-weight: bolder;
    padding-top: 5px;
}

.job {
    margin-top: 10px;
}



.motivation{
  height: 100vh;
}






.sized{
  max-width: 300px;
  max-height:300px;
}

.profile-card{
  position:relative;
  overflow: hidden;
  margin-bottom:10px;
}
.profile-card .profile-img img{
  width:100%;
  height:auto;
}
.profile-card .profile-content::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width:50%;
  height:40%;
  border:3px solid #222;
  border-right:3px solid transparent;
  border-bottom:3px solid transparent;
  transform: scale(1,1);
  transition: all 0.50s linear;
}
.profile-card .profile-content::after{
  content: "";
  position:absolute;
  bottom:0;
  right:0;
  width:50%;
  height:40%;
  border:3px solid #222;
  border-left:3px solid transparent;
  border-top:3px solid transparent;
  transition: all 0.50s linear;
}
.profile-card:hover .profile-content:before{
  top:20px;
  left:20px;
}
.profile-card:hover .profile-content:after{
  bottom:20px;
  right:20px;
}
.profile-card .profile-content::after{
  content: "";
  position:absolute;
  bottom:0;
  right:0;
  width:50%;
  height:40%;
  border:3px solid #222;
  border-left:3px solid transparent;
  border-top:3px solid transparent;
  transform: scale(1,1);
  transition: all 0.50s linear;
}
.profile-card .profile-content{
  position: absolute;
  border: 1px solid black;
  top:0;
  left:0;
  /* max-height: 300px;
  max-width:210px; */
  width:100%;
  height:100%;
  padding:50% 4%;
  text-align: center;
  background-image: linear-gradient(rgba(61, 61, 61, 0.1),rgba(56, 56, 56, 0.1));
  transition: all 4s ease-in;
}
/* .profile-card:before .profile-content:before{
  content: '';
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  } */
/* .profile-content:hover{
  background-image: linear-gradient(rgba(131, 46, 46, 0.6),rgba(56, 56, 56, 0.6 ));
} */
.profile-card .profile-content .title{
  font-size:24px;
  color:rgb(0, 0, 0);
  background: white;
  background-size: 10vw;
  opacity:0;
  letter-spacing:2px;
  text-transform:uppercase;
  transform: translateY(-100px);
  transition:all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}
.profile-card:hover .title{
  opacity:1;
  transform: translateY(0);
}
.profile-card:hover .title::after{
  content:"";
  display:block;
  width:50%;
  margin:10px auto;
  border-bottom:2px solid #222;
}
.profile-card .profile-content .title > span{
  display:block;
  margin:5px 0;
  font-size: 14px;
  text-transform: capitalize;
}
.profile-card .profile-content .social-link{
  margin:20px 0;
  padding:0;
  opacity:0;
  transform: translateY(100px);
  transition:all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}
.profile-card:hover .social-link{
  opacity:1;
  transform: translateY(0);
}
.profile-card .profile-content .social-link li{
  display: inline-block;
  list-style: none;
  margin:0 4px;
}
.profile-card .profile-content .social-link li a{
  color:#333;
  width:30px;
  height:25px;
  line-height:24px;
  text-align: center;
  border-radius:5px;
  background-color: #fff;
}




/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 50px 0;
    padding-top: 10px;
}

section .section-title {
    text-align: center;
    background-image: linear-gradient(90deg, #f6671f, #c01b1c);
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
  background-image: linear-gradient(90deg, #f6671f, #c01b1c) !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
@media (max-width: 767px) {
  .card-container {
    flex-wrap: wrap;
  }
}